/* Base CSS */
body
{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 400;
    width: auto;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    margin-bottom: 60px;
    background-color: #fcfcfc;
    color: #333;
}

.dark-bg {
    background-color: #333;
    /* background-image: url('/images/textures/px_by_Gre3g.png'); */
}

h1, h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    font-weight: 400;
    color: #333;
}

h3, h4, h5, h6 {
    color: #777;
    font-weight: 800;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #bbb;
    margin: 30px 0;
    padding: 0;
}

a, a:visited, a:link {
    text-decoration: none;
    color: #347ec2
}

a:hover, a:active {
    color: #005db1;
}

pre {
    padding: 5px 10px;
    overflow: auto;
}

code {
    font-size: 16px;
    font-family: 'Source Code Pro', monospace;
}

/* Basic Grid */

.grid {
    display: flex;
    width: 100%;
}

.col {
    flex: 1;
    width: 0;
    margin-right: 5px;
}

.col:last-child {
    margin-right: 0px;
}

@media (max-width: 480px) {
  .grid {
    display: block;
  }
  .col {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
  }
}

/* Site Layout */
.container {
    margin: auto;
    max-width: 960px;
    padding-left: 10px;
    padding-right: 10px;
}


.frontpage {
    margin: auto;
    max-width: 480px;
    text-align: center;
}

.frontpage img {
    margin-top: 40px;
}



.top-nav {
    font-size: 32px;
}

.top-nav {
    margin: auto;
    max-width: 960px;
    padding: 10px;
    position: relative;
}


/* Shared Style */

.cover {
    height: 300px;
    width: 100%;
}

.panel-cover {
	display: block;
	z-index: 900;
	max-width: none;
    width: 100%;
    background-color: #333;
    /* background: url('/images/textures/px_by_Gre3g.png') #333; */
}

.post img {
    width: 100%;
}

/* Focused Style */

.about-me {
    color: #bbb;
}

.social-nav {
    font-size: 20px;
    padding-bottom: 10px;
}

.extra-nav {
    margin-top: 40px;
}

nav {
    font-family: 'Open Sans', sans-serif;
}

.condense {
    word-spacing: -2px;
    /* letter-spacing: -1px; */
    font-weight: 900;
}


.font-light {
    color: #bbb;
}
.font-dark {
    color: #555;
}

.bio {
    margin: auto;
    padding: 0px 60px;
}

.bio-principle {
    display: inline-block;
    padding: 0 6px;
}

.ribbon {
    position: relative;
    color: #fff;
    margin-top: 50px;
    margin-left: -150px;
    padding: 10px 0 10px 150px;
}

.ribbon-orange {
    background-image: linear-gradient(to bottom right, #F19001, #C23603);
}

.ribbon-green {
    background-image: linear-gradient(to bottom right, #7FB61A, #1B622A);
}

.ribbon-blue {
    background-image: linear-gradient(to bottom right, #5398DB, #1247B9);
}

.ribbon h2 {
    color: #fff;
    margin-bottom: 10px;
}

.ribbon :first-child {
    margin-top: 0px;
}

.ribbon :last-child {
    margin-bottom: 0px;
}

.ribbon .fa {
    position: absolute;
    right: 20px;
    top: 15px;
}

date {
    float: right;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -1px;
}

blockquote {
    font-style: italic;
    background: #f9f9f9;
    border-left: 8px solid #ccc;
    margin: 10px 0px;
    padding: 10px 10px;
}

blockquote p {
    display: inline;
}

@media all and (min-width: 1224px) {
	.page.container {
        margin-left: 530px;
        padding-left: 40px;
        padding-right: 40px;
    }

    .top-nav {
        position: absolute;
        top: 5px;
        left: 20px;

    }
    .panel-cover {
        display: flex;
        position: fixed;
        top: 0px;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
    }


    .panel-cover-collapsed {
        width: 40%;
        max-width: 530px;
    }
}

@media all and (max-width: 1223px) {
	.container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .panel-cover .bio {
        margin-left: 140px;
        position: relative;
    }
    .panel-cover h2 {
        margin-top: 0px;
        padding-top: 32px;
    }
    .top-nav {
        float: left;
    }
    .panel-cover .bio img {
        position: absolute;
        left: -120px;
        top: 40px;
    }
}

@media print {
    .no-print, .no-print *
    {
        display: none !important;
    }
}
