---
layout: default.liquid
title: "Anthony Nowell"
data:
  theme: dark-bg
---
<div class="frontpage">
  {% include 'bio.liquid' %}


  <nav class="extra-nav">
    <div><h3><a href="/portfolio">Portfolio</a></h3></div>
    <div><h3><a href="/principles">Leadership Principles</a></h3></div>
  </nav>

  <hr>

  <div>
    <nav class="post-nav">
      {% for post in collections.posts.pages %}
        <div>
          <h3><a href="{{post.permalink}}">{{ post.title }}</a></h3>
        </div>
      {% endfor %}
    </nav>
  </div>
</div>
