  <img src="/images/profile.jpg" style="width: 150px; border-radius: 100%; border: 3px solid #fff; filter: grayscale(100%);">
  <h2 class="font-dark condense">Anthony <span class="font-light">Nowell</span></h2>
  <h3 class="font-dark condense">
    <div class="bio-principle"><span class="font-light">Adapt</span> to change</div> 
    <div class="bio-principle"><span class="font-light">Build</span> value</div>
    <div class="bio-principle"><span class="font-light">Care</span> for people</div>
  </h3>
  <p class="about-me">
    Engineering Director @Algorithmia. In Seattle.
    Obsessed about Rust, making music, goats, and Starcraft.
    Previously @Socrata and @Microsoft.
  </p>

  <nav class="social-nav">
    <a href="https://twitter.com/atnowell"><i class="fa fa-twitter"></i></a>
    <a href="https://github.com/anowell"><i class="fa fa-github"></i></a>
    <a href="https://www.linkedin.com/in/anthonynowell"><i class="fa fa-linkedin"></i></a>
    <a href="mailto:anowell@gmail.com"><i class="fa fa-envelope-o"></i></a>
  </nav>