<!DOCTYPE html>
<html>
  <head>
    {% include 'head.liquid' %}
  </head>
  <body class='{{ page.data.theme }}'>
    <div>
      {{ page.content }}
    </div>

    <script src="/js/main.js"></script>
    {% include 'hljs.liquid' %}
    {% include 'analytics.liquid' %}
  </body>
</html>
