<!DOCTYPE html>
<html>
  <head>
    {% include 'head.liquid' %}
  </head>
  <body>
    <div style="position: relative;">
      <div class="cover" style="background-image: url({{ page.data.cover_path }}); background-position: center;"></div>
    </div>
    <div class="top-nav" style="position: relative; float:left; top:28px;">
      <a href="/"><i class="fa fa-chevron-circle-left"></i></a>
    </div>
    <div>
      {% include 'post.liquid' %}
    </div>

    <script src="/js/main.js"></script>
    {% include 'hljs.liquid' %}
    {% include 'analytics.liquid' %}
  </body>
</html>
